{% extends "Blog_templates/Base.html" %}
{% block content %}
    <style type="text/css">

        #box {
            width: 1000px;
            height: 200px;
            border-width: 4px;
            border-style: solid;
            border-color: cornsilk;
            background: #CCCCCC;
            display: inline-block;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <div class="content-wrapper">

        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <h3>Create Profile:</h3>
                <form method="post" action="">

                    {{ form.as_p }}
                    <input type="submit" value="Save">
                </form>
            </div>

        </div>
    </div>

    <div class="content-wrapper">
        <form method="post"   action = "{% url "createproductURL" %}" enctype="multipart/form-data">
            <input id="id_image" type="file" class="" name="image">

            {{Products.as_p }}
            <input type="submit" value="save">
        </form>

    </div>




    <div class="content-wrapper">

        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <h3>Create Profile:</h3>
                <form method="post" action="">

                    {{ form.as_p }}
                    <input type="submit" value="Save">
                </form>
            </div>

        </div>
    </div>


{% endblock content %}


