{% extends "Blog_templates/Base.html" %}
{% block content %}
    <div class="content-wrapper">

        <div class="row">
            <div class="col-lg-3 col-xs-6">


                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <style type="text/css">

                    #box {
                        width: 300px;
                        height: 200px;
                        border-width: 4px;
                        border-style: solid;
                        border-color: cornsilk;
                        background: #CCCCCC;
                        display: inline-block;
                    }
                    table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }

                    td, th {
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 8px;
                    }

                    tr:nth-child(even) {
                        background-color: #dddddd;
                    }
                </style>

                <h3>Product details:</h3>
                <hr />
                {% for product in products %}
                    <div id="box">
                        <img style="width:100%;height:50px;" src="{{ product.image }}" />
                        <table>
                            <thead>
                            {#            <th>Image</th>#}
                            <th>Title</th>
                            <th>Price</th>
                            </thead>
                            <tbody>
                            <tr>
                                {#                <td>{{ product.image }}</td>#}
                                <td>{{ product.title }}</td>
                                <td>{{ product.price}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {%  endfor %}


            </div>

        </div>
    </div>
{% endblock content %}




















