<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
        <a href="#">
    <li>
        <a href="/create">
            <i class="fa fa-book"></i>
            <span>Create Users</span>
        </a>
    </li>

    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
        <li><a href="create.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
    </ul>
    </li>

    <li>
        <a href="/userprofile">
            <i class="fa fa-th"></i> <span>User Profile</span>
            <span class="pull-right-container">
{#              <small class="label pull-right bg-green">n</small>#}
            </span>
        </a>
    </li>
    <li>
        <a href="/createprofile">
            <i class="fa fa-th"></i> <span>Create Profile</span>
            <span class="pull-right-container">
{#              <small class="label pull-right bg-green">n</small>#}
            </span>
        </a>
    </li>
    <li>
        <a href="/productpurchase">
            <i class="fa fa-th"></i> <span>Product Purchase</span>
            <span class="pull-right-container">
{#              <small class="label pull-right bg-green">n</small>#}
            </span>
        </a>
    </li>
    <li>
        <a href="/createproduct">
            <i class="fa fa-th"></i> <span>Create Product </span>
            <span class="pull-right-container">
{#              <small class="label pull-right bg-green">n</small>#}
            </span>
        </a>
    </li>


    <li>
        <a href="/products">
            <i class="fa fa-th"></i> <span>Products </span>
            <span class="pull-right-container">
{#              <small class="label pull-right bg-green">n</small>#}
            </span>
        </a>
    </li>
    <li>
        <a href="/userregistration">
            <i class="fa fa-th"></i> <span>User Registration</span>
            <span class="pull-right-container">
{#              <small class="label pull-right bg-green">n</small>#}
            </span>
        </a>
    </li>
    <li>
        <a href="/Users_list">
            <i class="fa fa-th"></i> <span>Users List</span>
            <span class="pull-right-container">
{#              <small class="label pull-right bg-green">n</small>#}
            </span>
        </a>
    </li>
</ul>
</body>
</html>