<!DOCTYPE>
<html>
<head>
    <title></title>
</head>
<body>

        <h3>User Profiles :</h3>
    <table class="table dataTable">

        <thead>
        <tr>
            <th>User ID</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.name }}</td>
                <td>{{ profile.phone_number }}</td>
                <td>{{ profile.address }}</td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
</body>
</html>